# Supabase Configuration
VITE_SUPABASE_URL="https://nmwfevhetlwehbuikflk.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5td2ZldmhldGx3ZWhidWlrZmxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwMjM2NDgsImV4cCI6MjA3MjU5OTY0OH0.q3J5u0kWpQkXTJ9mnjIA670TvHKz59O5FsSYyEbkMwoeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5td2ZldmhldGx3ZWhidWlrZmxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwMjM2NDgsImV4cCI6MjA3MjU5OTY0OH0.q3J5u0kWpQkXTJ9mnjIA670TvHKz59O5FsSYyEbkMwo"
VITE_SUPABASE_SERVICE_KEY=your_supabase_service_key_here

# Development
NODE_ENV=development
